p {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

p:nth-child(1) {
    background-color: brown;

}

p:nth-child(2) {
    background-color: chartreuse;
}

p:nth-child(3) {
    background-color: crimson;
}

p:nth-last-of-type(1) {
    opacity: 0.2;
}

p:nth-of-type(5) {
    opacity: 0.5;
}